@using PagedList.Mvc;

@model  PagedList.PagedList<NewsTrackingSite.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-lg-7 wp2 delay-05s">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <div class="col-lg-5 wp2 delay-05s">
        <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    @ViewBag.CurrentDDLText
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink(NewsTrackingSite.Resource.lang.Puan, "Index", new { sorting = ViewBag.RaitingSortParam })</li>
                    <li>@Html.ActionLink(NewsTrackingSite.Resource.lang.YayınlanmaTarihi, "Index", new { sorting = ViewBag.ReleaseDateSortParam })</li>
                </ul>
            </div>
            <a href="@Url.Action("Index", new { sorting = ViewBag.CurrentSortParam })" class="btn btn-default" role="button" title="@(ViewBag.ResortBtnAlt as string)"><i class="@(ViewBag.CurrentArrow as string)"></i></a>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReleaseDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Raiting)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Poster != null)
                {
                    <a class="popup" href="data:image/jpg;base64, @Convert.ToBase64String(item.Poster)">
                        <img src="data:image/jpg;base64, @Convert.ToBase64String(item.Poster)" alt="" width="100" height="100" />
                    </a>
                }
                else
                {
                    <a class="popup" href="~/Content/img/noimage.png">
                        <img src="~/Content/img/noimage.png" alt="" width="100" height="100" />
                    </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Raiting)
            </td>*@
            <td>
                @Html.ActionLink("Haberi Düzenle", "Edit", new { newsID = item.NewsID }) |
                @Html.ActionLink("Haber Detayları", "Details", new { newsID = item.NewsID }) |
                @Html.ActionLink("Haberi Sil", "Delete", new { newsID = item.NewsID })
            </td>
        </tr>
    }

</table>