@using NewsTrackingSite.Models.ViewModels;

@model NewsTrackingSite.Models.News

@{
    ViewBag.Title = "HaberEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    MultiSelectList temp = ViewData["GenreList"] as MultiSelectList;
}

@section additionalJs {
    <style type="text/css" media="all">
        /* fix rtl for demo */
        .chosen-rtl .chosen-drop {
            left: -9000px;
        }
    </style>

    <script type="text/javascript">
        var config = {
          '.chosen-select'           : {},
          '.chosen-select-deselect'  : {allow_single_deselect:true},
          '.chosen-select-no-single' : {disable_search_threshold:10},
          '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
          '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
          $(selector).chosen(config[selector]);
        }
    </script>
}

<h2>HaberEkle</h2>


@using (Html.BeginForm("HaberEkle", "Haber", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    @Html.DisplayFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    <br />
    @Html.DisplayFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <br />
    @Html.DisplayFor(model => model.Poster)
    <input type="file" name="file" class="form-control" />
    <br />
    @Html.DisplayFor(model => model.ReleaseDate)
    @Html.TextBoxFor(model => model.ReleaseDate, new { @class = "form-control", style = "width:250px;" })
    <br />
    @Html.DisplayFor(model => model.ReleaseCountry)
    @Html.TextBoxFor(model => model.ReleaseCountry)
    <br />
    @Html.DisplayFor(model => model.TrailerLink)
    @Html.TextBoxFor(model => model.TrailerLink)
    <br />
    @*@Html.DisplayFor(model => model.Raiting)
    @Html.TextBoxFor(model => model.Raiting, new { @class = "form-control", style = "width:250px;", @type = "number", min = "0", max = "5" })*@
    <br />
    @*@Html.DisplayFor(model => model.Budget)
    @Html.TextBoxFor(model => model.Budget)*@
    <br />
    @Html.Label("Haber Türleri")
    @Html.ListBox("GenreList", temp, new { @class = "chosen-select", style = "width: 200px;" });

    <input type="submit" value="Kaynet" class="btn btn-primary" />
}