@model IEnumerable<NewsTrackingSite.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-lg-7 wp2 delay-05s">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <div class="col-lg-5 wp2 delay-05s">
        <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    @ViewBag.CurrentDDLText
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink(NewsTrackingSite.Resource.lang.KayıtTarih, "Index", new { sorting = ViewBag.RegisterDateSortParam })</li>
                    <li>@Html.ActionLink(NewsTrackingSite.Resource.lang.SoyAd, "Index", new { sorting = ViewBag.LNameSortParam })</li>
                </ul>
            </div>
            <a href="@Url.Action("Index", new { sorting = ViewBag.CurrentSortParam })" class="btn btn-default" role="button" title="@(ViewBag.ResortBtnAlt as string)"><i class="@(ViewBag.CurrentArrow as string)"></i></a>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfilPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.ProfilPicture != null)
            {
                <a class="popup" href="data:image/jpg;base64, @Convert.ToBase64String(item.ProfilPicture)">
                    <img src="data:image/jpg;base64, @Convert.ToBase64String(item.ProfilPicture)" alt="" width="100" height="100" />
                </a>
            }
            else
            {
                <a class="popup" href="~/Content/img/noimage.png">
                    <img src="~/Content/img/noimage.png" alt="" width="100" height="100" />
                </a>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { userID = item.UserID }) |
            @Html.ActionLink("Details", "Details", new { userID = item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { userID = item.UserID })
        </td>
    </tr>
}

</table>
